<!-- 全网服务拓扑图 /ams/main/services/cmdb -->
<div class="tab-pane fade" id="canvasPanel" role="tabpanel">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box">
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <!-- <div class="menu" id="nav_menu"></div> -->
                                <canvas id="canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>