<div class="tab-pane fade " id="home" role="tabpanel">
        <p>菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档，帮助广大web技术爱好者快速入门并建立自己的网站。菜鸟先飞早入行——学的不仅是技术，更是梦想。</p>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-header">
                    <h4 class="widget-title">操作历史</h4>
    
                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
    
                        <a href="#" data-action="close">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div id="toolbar1">
                    <button class="btn btn-danger btn-xs" id="remove1" disabled>
                        <i class="glyphicon glyphicon-refresh"></i> 删除
                    </button>
                </div>
                <table id="tabled1"
                        data-toggle="table"
                        data-search="true"
                        data-toolbar="#toolbar1"
                        data-show-pagination-switch="false"
                        data-detail-view="false"
                        data-detail-formatter="detailFormatter"
                        data-minimum-count-columns="2"
                        data-pagination="true"
                        data-page-size="10"
                        data-id-field="id"
                        data-page-list="[10, 25, 50, 100, ALL]"
                        data-url="/admin/gethistory"
                        data-show-footer="false"
                        data-side-pagination="server"
                        data-row-style="rowStyle"
                        data-pagination-first-text="首页"
                        data-pagination-pre-text="上一页"
                        data-pagination-next-text="下一页"
                        data-pagination-last-text="最后一页" class="table">
                    <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true">状态</th>
                            <th data-field="id" data-visible="true">ID</th>
                            <th data-field="username" data-visible="true" data-editable="false">Username</th>
                            <th data-field="referer" data-align="center" data-visible="true" data-editable="false">Referer</th>
                            <th data-field="remoteaddr" data-align="center" data-visible="true" data-editable="false">RemoteAddr</th>
                            <th data-field="requesturi" data-align="center" data-visible="true" data-editable="false">RequestURI</th>
                            <th data-field="host" data-align="center" data-visible="true" data-editable="false">Host</th>
                            <th data-field="method" data-align="center" data-visible="true" data-editable="false">Method</th>
                            <th data-field="proto" data-align="center" data-visible="true" data-editable="false">Proto</th>
                            <th data-field="useragent" data-align="center" data-visible="true" data-editable="false">UserAgent</th>
                            <th data-field="inserttime" data-align="center" data-visible="true" data-editable="false">InsertTime</th>
                        </tr>
                    </thead>

                </table>
            </div> 
        </div>
    </div>
    
    