<script src="/static/js/bootstrap-table.js"></script>
<script src="/static/js/bootstrap-editable.js"></script>
<script src="/static/js/bootstrapValidator.min.js"></script>
<script src="/static/js/bootstrap-table-editable.js"></script>
<script src="/static/js/bootstrap-table-export.js"></script>
<script src="/static/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/tableExport.js"></script>
<script src="/static/js/jtopo-0.4.8-min.js"></script>
<script src="/static/js/toolbar.js"></script>

<script language="JavaScript">
        var ajax = $.ajax;
        $.extend({
            ajax: function(url, options) {
                if (typeof url === 'object') {
                    options = url;
                    url = undefined;
                }
                options = options || {};
                url = options.url;
                var xsrftoken = $('meta[name=_xsrf]').attr('content');
                var headers = options.headers || {};
                var domain = document.domain.replace(/\./ig, '\\.');
                if (!/^(http:|https:).*/.test(url) || eval('/^(http:|https:)\\/\\/(.+\\.)*' + domain + '.*/').test(url)) {
                    headers = $.extend(headers, {'X-Xsrftoken':xsrftoken});
                }
                options.headers = headers;
                return ajax(url, options);
            }
        });
        $.fn.editable.defaults.url = "/admin/userchange";
        function Check(id) {
            window.open("http://"+window.location.host+"/loan/debx?id="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Add() {
            window.open("http://"+window.location.host+"/login/login","new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function CheckRsyslog(id) {
            window.open("http://install.qiyi.domain/install/api/v1/rsyslog?hostname="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Checkflow(id) {
            window.open("http://"+window.location.host+"/init/history?flow=1&sn="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Checklog(id) {
            window.open("http://"+window.location.host+"/init/history?log=1&sn="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Check2() {
            window.open("http://"+window.location.host+"/ansible/id2","new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Update(id) {
            window.open("http://"+window.location.host+"/ansible/update?id="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Update2(id) {
            window.open("http://"+window.location.host+"/ansible/update2?id="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }

        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
            });
            return html.join('');
        }
        var $table = $('#tabled2'),
            $remove = $('#remove2'),
            selections = [];

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            });
        }

        $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
            $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
            // save your data, here just save the current page
            selections = getIdSelections();
            // push or splice the selections if you want to save all data selections
        });
        $remove.click(function () {
            var r = confirm("确定删除吗？")
            if(r==true){
                var ids = getIdSelections();
                $.ajax({
                    url:'/admin/userdel?ids='+ids.join(),
                    type:'Post',
                    success:function (data) {
                        alert(data);
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: ids
                        });
                    }
                })
                $remove.prop('disabled', true);
            }

        });

        var $table1 = $('#tabled1'),
            $remove1 = $('#remove1'),
            selections1 = [];

        function getIdSelections1() {
            return $.map($table1.bootstrapTable('getSelections'), function (row) {
                return row.id
            });
        }

        $table1.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
            $remove1.prop('disabled', !$table1.bootstrapTable('getSelections').length);
            // save your data, here just save the current page
            selections1 = getIdSelections1();
            // push or splice the selections if you want to save all data selections
        });
        $remove1.click(function () {
            var r = confirm("确定删除吗？")
            if(r==true){
                var ids = getIdSelections1();
                $.ajax({
                    url:'/admin/historydel?ids='+ids.join(),
                    type:'Post',
                    success:function (data) {
                        alert(data);
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: ids
                        });
                    }
                })
                $remove.prop('disabled', true);
            }

        });

</script>
<script>
    // $(document).ready(function(){					
    //     var canvas = document.getElementById('canvas');
    //     var canvaspanel = document.getElementById('rows');
    //     var ctx = canvas.getContext('2d');
        
    //     ctx.canvas.width = canvaspanel.offsetWidth - 2;
    //     ctx.canvas.height = canvaspanel.offsetWidth/2;
    //     // ctx.canvas.width = canvaspanel.offsetWidth - 2;
    //     // ctx.canvas.height = canvaspanel.offsetHeight - 2;
    //     var stage = new JTopo.Stage(canvas);
    //     //显示工具栏
    //     showJTopoToobar(stage);

    //     var scene = new JTopo.Scene();	
    //     scene.background = './img/bg.jpg';
        
    //     function node(x, y, img){
    //         var node = new JTopo.Node();
    //         node.setImage('./img/statistics/' + img, true);				
    //         node.setLocation(x, y);
    //         scene.add(node);
    //         return node;
    //     }				
        
    //     function linkNode(nodeA, nodeZ, f){
    //         var link;
    //         if(f){
    //             link = new JTopo.FoldLink(nodeA, nodeZ);
    //         }else{
    //             link = new JTopo.Link(nodeA, nodeZ);
    //         }
    //         link.direction = 'vertical';
    //         scene.add(link);
    //         return link;
    //     }
        
    //     var s1 = node(305, 43, 'server.png');
    //     s1.alarm = '2 W';
    //     var s2 = node(365, 43, 'server.png');
    //     var s3 = node(425, 43, 'server.png');
        
    //     var g1 = node(366, 125, 'gather.png');
    //     linkNode(s1, g1, true);
    //     linkNode(s2, g1, true);
    //     linkNode(s3, g1, true);
        
    //     var w1 = node(324, 167, 'wanjet.png');
    //     linkNode(g1, w1);
                    
    //     var c1 = node(364, 214, 'center.png');
    //     linkNode(w1, c1);
        
    //     var cloud = node(344, 259, 'cloud.png');
    //     linkNode(c1, cloud);
        
    //     var c2 = node(364, 328, 'center.png');
    //     linkNode(cloud, c2);
        
    //     var w2 = node(324, 377, 'wanjet.png');
    //     linkNode(c2, w2);
        
    //     var g2 = node(366, 411, 'gather.png');
    //     linkNode(w2, g2);
        
    //     function hostLink(nodeA, nodeZ){				
    //         var link = new JTopo.FlexionalLink(nodeA, nodeZ);				
    //         link.shadow = false;
    //         link.offsetGap = 44;
    //         scene.add(link);
    //         return link;
    //     }
        
    //     var h1 = node(218, 520, 'host.png');
    //     h1.alarm = '';
    //     hostLink(g2, h1);
    //     var h2 = node(292, 520, 'host.png');
    //     hostLink(g2, h2);
    //     var h3 = node(366, 520, 'host.png');
    //     h3.alarm = '二级告警';
    //     hostLink(g2, h3);
    //     var h4 = node(447, 520, 'host.png');
    //     hostLink(g2, h4);
    //     var h5 = node(515, 520, 'host.png');
    //     h5.alarm = '1M';
    //     hostLink(g2, h5);
        
    //     setInterval(function(){
    //         if(h3.alarm == '二级告警'){
    //             h3.alarm = null;
    //         }else{
    //             h3.alarm = '二级告警'
    //         }
    //     }, 600);
        
    //     stage.add(scene);
    // }); 

    function Bai() {
        window.open("http://www.baidu.com","new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
    }

    var stage = null;
		
    $(document).ready(function(){					
        var canvas = document.getElementById('canvas');
        var canvaspanel = document.getElementById('rows');
        var ctx = canvas.getContext('2d');

        ctx.canvas.width = canvaspanel.offsetWidth - 2;
        ctx.canvas.height = canvaspanel.offsetWidth/2;
        // 创建一个舞台
        stage = new JTopo.Stage(canvas);
        //显示工具栏
        showJTopoToobar(stage);
        
        stage.eagleEye.visible = true;

        // 设计一个场景
        var scene = new JTopo.Scene(stage);	
        scene.backgroundColor = "0,200,0";
        scene.background = './img/bg.jpg';
        scene.alpha = 0.1;		
        
        var currendNode = null;
        
        // 向场景增加节点
        for(var i= 0; i<500; i++){
            var node = new JTopo.Node('' + i);
            node.shadow = false;
            node.setSize(30, 30);
            node.rotate = Math.random(); // 旋转角度
            node.textPosition = "Middle_Center";
            var s = 2;
            var x = Math.random() * stage.width * s - Math.random() * stage.width * s;
            var y = Math.random() * stage.height * s - Math.random() * stage.height * s;
            node.setLocation(x, y);
            node.fillColor = JTopo.util.randomColor();
            node.addEventListener('mouseup',function(event){
                currendNode = this;
                // alert(event.textPosition); 
                Bai();
            })
            scene.add(node);
        };
    });
</script>