<script src="/static/js/bootstrap-table.js"></script>
<script src="/static/js/bootstrap-editable.js"></script>
<script src="/static/js/bootstrapValidator.min.js"></script>
<script src="/static/js/bootstrap-table-editable.js"></script>
<script src="/static/js/bootstrap-table-export.js"></script>
<script src="/static/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/tableExport.js"></script>

<script language="JavaScript">
        var ajax = $.ajax;
        $.extend({
            ajax: function(url, options) {
                if (typeof url === 'object') {
                    options = url;
                    url = undefined;
                }
                options = options || {};
                url = options.url;
                var xsrftoken = $('meta[name=_xsrf]').attr('content');
                var headers = options.headers || {};
                var domain = document.domain.replace(/\./ig, '\\.');
                if (!/^(http:|https:).*/.test(url) || eval('/^(http:|https:)\\/\\/(.+\\.)*' + domain + '.*/').test(url)) {
                    headers = $.extend(headers, {'X-Xsrftoken':xsrftoken});
                }
                options.headers = headers;
                return ajax(url, options);
            }
        });
        $.fn.editable.defaults.url = "/admin/userchange";
        function Check(id) {
            window.open("http://"+window.location.host+"/loan/debx?id="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Add() {
            window.open("http://"+window.location.host+"/login/login","new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function CheckRsyslog(id) {
            window.open("http://install.qiyi.domain/install/api/v1/rsyslog?hostname="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Checkflow(id) {
            window.open("http://"+window.location.host+"/init/history?flow=1&sn="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Checklog(id) {
            window.open("http://"+window.location.host+"/init/history?log=1&sn="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Check2() {
            window.open("http://"+window.location.host+"/ansible/id2","new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Update(id) {
            window.open("http://"+window.location.host+"/ansible/update?id="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }
        function Update2(id) {
            window.open("http://"+window.location.host+"/ansible/update2?id="+id,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
        }

        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
            });
            return html.join('');
        }
        var $table = $('#tabled2'),
            $remove = $('#remove2'),
            selections = [];

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            });
        }

        $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
            $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
            // save your data, here just save the current page
            selections = getIdSelections();
            // push or splice the selections if you want to save all data selections
        });
        $remove.click(function () {
            var r = confirm("确定删除吗？")
            if(r==true){
                var ids = getIdSelections();
                $.ajax({
                    url:'/admin/userdel?ids='+ids.join(),
                    type:'Post',
                    success:function (data) {
                        alert(data);
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: ids
                        });
                    }
                })
                $remove.prop('disabled', true);
            }

        });

        var $table1 = $('#tabled1'),
            $remove1 = $('#remove1'),
            selections1 = [];

        function getIdSelections1() {
            return $.map($table1.bootstrapTable('getSelections'), function (row) {
                return row.id
            });
        }

        $table1.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
            $remove1.prop('disabled', !$table1.bootstrapTable('getSelections').length);
            // save your data, here just save the current page
            selections1 = getIdSelections1();
            // push or splice the selections if you want to save all data selections
        });
        $remove1.click(function () {
            var r = confirm("确定删除吗？")
            if(r==true){
                var ids = getIdSelections1();
                $.ajax({
                    url:'/admin/historydel?ids='+ids.join(),
                    type:'Post',
                    success:function (data) {
                        alert(data);
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: ids
                        });
                    }
                })
                $remove.prop('disabled', true);
            }

        });

</script>