<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/js/jtopo/base.css">  
        <link rel="stylesheet" type="text/css" href="/static/js/jtopo/jquery.snippet.min.css">  
        <style type="text/css">
            #contextmenu {
                border: 1px solid #aaa;
                border-bottom: 0;
                background: #eee;
                position: absolute;
                list-style: none;
                margin: 0;
                padding: 0;
                display: none;
            }
                                                                                       
            #contextmenu li a {
                display: block;
                padding: 10px;
                border-bottom: 1px solid #aaa;
                cursor: pointer;
            }
                                                                                       
            #contextmenu li a:hover {
                background: #fff;
            }
        </style>
        <script type="text/javascript" src="/static/js/jtopo/jquery.js"></script>  
        <!-- <script type="text/javascript" src="/static/js/jtopo/site.js"></script>   -->
        <!-- <script type="text/javascript" src="/static/js/jtopo/demo.js"></script>   -->
        <script type="text/javascript" src="/static/js/jtopo/jquery.snippet.min.js"></script>  
        <script src="/static/js/jtopo-0.4.8-min.js"></script>
        <script src="/static/js/toolbar.js"></script>
        <!-- <script id='code'>
            $(document).ready(function(){
                
                $.ajax({
                    url:'/api/v1/main',
                    type:'GET',
                    success:function(data){
                        var canvas = document.getElementById('canvas');			
                        var stage = new JTopo.Stage(canvas);
                        var ctx = canvas.getContext('2d');
                        ctx.canvas.width = document.body.clientWidth;
                        ctx.canvas.height = document.body.clientHeight;
                        //显示工具栏
                        showJTopoToobar(stage);
            
                        var scene = new JTopo.Scene();
                        scene.background = './img/bg.jpg';
                        stage.add(scene);
                        
                        var node = new JTopo.Node("右键菜单-A");	
                        node.setLocation(200,200);
                        scene.add(node);
                        
                        var node2 = new JTopo.Node("右键菜单-B");	
                        node2.setLocation(400,200);
                        scene.add(node2);
            
                        var currentNode = null;
                        function handler(event){
                            if(event.button == 2){// 右键
                                // 当前位置弹出菜单（div）
                                $("#contextmenu").css({
                                    top: event.pageY,
                                    left: event.pageX
                                }).show();	
                            }
                        }

                        for(var item in data.data) {
                            // alert(data.data[item].name);
                            // alert(data.data[item].url);
                            
                            var node = new JTopo.Node(data.data[item].name);
                            node.shadow = false;
                            node.setSize(30, 30);
                            node.rotate = Math.random(); // 旋转角度
                            node.textPosition = "Middle_Center";
                            var s = 2;
                            var x = Math.random() * stage.width * s - Math.random() * stage.width * s;
                            var y = Math.random() * stage.height * s - Math.random() * stage.height * s;
                            node.setLocation(x, y);
                            node.fillColor = JTopo.util.randomColor();
                            node.addEventListener('mouseup',function(event){
                                currentNode = this;
                                handler(event);
                            })
                            scene.add(node);
                        }

                        node.addEventListener('mouseup', function(event){
                            currentNode = this;
                            handler(event);
                        });
                        node2.addEventListener('mouseup', function(event){
                            currentNode = this;
                            handler(event);
                        });
                        
                        stage.click(function(event){
                            if(event.button == 0){// 右键
                                // 关闭弹出菜单（div）
                                $("#contextmenu").hide();
                            }
                        });
                                    
                        /*
                        <ul id="contextmenu" style="display:none;">	
                        <li><a>顺时针旋转</a></li>
                        <li><a>逆时针旋转</a></li>	
                        <li><a>更改颜色</a></li>
                        <li><a>放大</a></li>
                        <li><a>缩小</a></li>	
                        <li><a>删除该节点</a></li>
                        </ul>*/
                        /* 右键菜单处理 */	
                        $("#contextmenu a").click(function(){
                            var text = $(this).text();
                            
                            if(text == '删除该节点'){
                                scene.remove(currentNode);
                                currentNode = null;
                            }if(text == '撤销上一次操作'){
                                currentNode.restore();
                            }else{
                                currentNode.save();
                            }
                            
                            if(text == '更改颜色'){
                                currentNode.fillColor = JTopo.util.randomColor();
                            }else if(text == '顺时针旋转'){
                                currentNode.rotate += 0.5;
                            }else if(text == '逆时针旋转'){
                                currentNode.rotate -= 0.5;
                            }else if(text == '放大'){
                                currentNode.scaleX += 0.2;
                                currentNode.scaleY += 0.2;
                            }else if(text == '缩小'){
                                currentNode.scaleX -= 0.2;
                                currentNode.scaleY -= 0.2;
                            }
                            $("#contextmenu").hide();
                        });
                    }
                });

            });
        </script> -->
        
    </head>
    <body>
        <ul id="contextmenu" style="display:none;">    
            <li><a>主页跳转</a></li>
            <li><a>顺时针旋转</a></li>
            <li><a>逆时针旋转</a></li>    
            <li><a>更改颜色</a></li>
            <li><a>放大</a></li>
            <li><a>缩小</a></li>    
            <li><a>删除该节点</a></li>
        </ul>
        <!-- <canvas id="canvas"></canvas> -->
        <center>
            
        <canvas id="canvas"></canvas>	
                            
        <script>
                // $(document).ready(function(){					
                //     var canvas = document.getElementById('canvas');
                //     var canvaspanel = document.getElementById('rows');
                //     var ctx = canvas.getContext('2d');
                    
                //     ctx.canvas.width = canvaspanel.offsetWidth - 2;
                //     ctx.canvas.height = canvaspanel.offsetWidth/2;
                //     // ctx.canvas.width = canvaspanel.offsetWidth - 2;
                //     // ctx.canvas.height = canvaspanel.offsetHeight - 2;
                //     var stage = new JTopo.Stage(canvas);
                //     //显示工具栏
                //     showJTopoToobar(stage);
            
                //     var scene = new JTopo.Scene();	
                //     scene.background = './img/bg.jpg';
                    
                //     function node(x, y, img){
                //         var node = new JTopo.Node();
                //         node.setImage('./img/statistics/' + img, true);				
                //         node.setLocation(x, y);
                //         scene.add(node);
                //         return node;
                //     }				
                    
                //     function linkNode(nodeA, nodeZ, f){
                //         var link;
                //         if(f){
                //             link = new JTopo.FoldLink(nodeA, nodeZ);
                //         }else{
                //             link = new JTopo.Link(nodeA, nodeZ);
                //         }
                //         link.direction = 'vertical';
                //         scene.add(link);
                //         return link;
                //     }
                    
                //     var s1 = node(305, 43, 'server.png');
                //     s1.alarm = '2 W';
                //     var s2 = node(365, 43, 'server.png');
                //     var s3 = node(425, 43, 'server.png');
                    
                //     var g1 = node(366, 125, 'gather.png');
                //     linkNode(s1, g1, true);
                //     linkNode(s2, g1, true);
                //     linkNode(s3, g1, true);
                    
                //     var w1 = node(324, 167, 'wanjet.png');
                //     linkNode(g1, w1);
                                
                //     var c1 = node(364, 214, 'center.png');
                //     linkNode(w1, c1);
                    
                //     var cloud = node(344, 259, 'cloud.png');
                //     linkNode(c1, cloud);
                    
                //     var c2 = node(364, 328, 'center.png');
                //     linkNode(cloud, c2);
                    
                //     var w2 = node(324, 377, 'wanjet.png');
                //     linkNode(c2, w2);
                    
                //     var g2 = node(366, 411, 'gather.png');
                //     linkNode(w2, g2);
                    
                //     function hostLink(nodeA, nodeZ){				
                //         var link = new JTopo.FlexionalLink(nodeA, nodeZ);				
                //         link.shadow = false;
                //         link.offsetGap = 44;
                //         scene.add(link);
                //         return link;
                //     }
                    
                //     var h1 = node(218, 520, 'host.png');
                //     h1.alarm = '';
                //     hostLink(g2, h1);
                //     var h2 = node(292, 520, 'host.png');
                //     hostLink(g2, h2);
                //     var h3 = node(366, 520, 'host.png');
                //     h3.alarm = '二级告警';
                //     hostLink(g2, h3);
                //     var h4 = node(447, 520, 'host.png');
                //     hostLink(g2, h4);
                //     var h5 = node(515, 520, 'host.png');
                //     h5.alarm = '1M';
                //     hostLink(g2, h5);
                    
                //     setInterval(function(){
                //         if(h3.alarm == '二级告警'){
                //             h3.alarm = null;
                //         }else{
                //             h3.alarm = '二级告警'
                //         }
                //     }, 600);
                    
                //     stage.add(scene);
                // }); 

                function Bai(url) {
                    alert(url);
                    window.open(url,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
                }

                $(document).ready(function(){					
                    $.ajax({
                        url:'/api/v1/main',
                        type:'GET',
                        success:function(data){
                            var currentNode = null;
                            var canvas = document.getElementById('canvas');
                            var ctx = canvas.getContext('2d');
                    
                            ctx.canvas.width = document.body.clientWidth;
                            ctx.canvas.height = document.body.clientHeight;

                            // 创建一个舞台
                            var stage = new JTopo.Stage(canvas);
                            //显示工具栏
                            showJTopoToobar(stage);
                            
                            stage.eagleEye.visible = true;
                    
                            // 设计一个场景
                            var scene = new JTopo.Scene(stage);	
                            // scene.backgroundColor = "0,200,0";
                            scene.background = './img/bg.jpg';
                            scene.alpha = 0.1;		
                            
                            function handler(event,url){
                                if(event.button == 2){// 右键
                                    // 当前位置弹出菜单（div）
                                    $("#contextmenu").css({
                                        top: event.pageY,
                                        left: event.pageX
                                    }).show();    
                                }
                            }
                            
                            // 向场景增加节点
                            for(var i= 0; i<1000; i++){
                                var node = new JTopo.Node('' + i);
                                node.shadow = false;
                                node.setSize(30, 30);
                                node.rotate = Math.random(); // 旋转角度
                                node.textPosition = "Middle_Center";
                                var s = 2;
                                var x = Math.random() * stage.width * s - Math.random() * stage.width * s;
                                var y = Math.random() * stage.height * s - Math.random() * stage.height * s;
                                node.setLocation(x, y);
                                node.fillColor = JTopo.util.randomColor();
                                node.addEventListener('mouseup',function(event){
                                    currentNode = this;
                                    // alert(event.textPosition); 
                                    // Bai();
                                    handler(event);
                                })
                                scene.add(node);
                            };
                            stage.click(function(event){
                                if(event.button == 0){// 右键
                                    // 关闭弹出菜单（div）
                                    $("#contextmenu").hide();
                                }
                            });

                            function ShowObjProperty(Obj) 
                            { 
                                var PropertyList=''; 
                                var PropertyCount=0; 
                                for(i in Obj){ 
                                    if(Obj.i !=null) 
                                    PropertyList=PropertyList+i+'属性：'+Obj.i+'\r\n'; 
                                else 
                                    PropertyList=PropertyList+i+'方法\r\n'; 
                                } 
                                console.log(PropertyList);
                                alert(PropertyList); 
                            } 

                            $("#contextmenu a").click(function(){
                                var text = $(this).text();
                                
                                if(text == '删除该节点'){
                                    scene.remove(currentNode);
                                    currentNode = null;
                                }if(text == '撤销上一次操作'){
                                    currentNode.restore();
                                }else{
                                    currentNode.save();
                                }
                                
                                if(text == '更改颜色'){
                                    currentNode.fillColor = JTopo.util.randomColor();
                                }else if(text == '顺时针旋转'){
                                    // ShowObjProperty(currentNode);
                                    currentNode.rotate += 0.5;
                                }else if(text == '逆时针旋转'){
                                    // alert(currentNode.text);
                                    // alert(currentNode.url);
                                    currentNode.rotate -= 0.5;
                                }else if(text == '放大'){
                                    currentNode.scaleX += 0.2;
                                    currentNode.scaleY += 0.2;
                                }else if(text == '缩小'){
                                    currentNode.scaleX -= 0.2;
                                    currentNode.scaleY -= 0.2;
                                }else if(text == '主页跳转'){
                                    var fd = currentNode.url.indexOf("http")
                                    if(fd == 0){
                                        // window.location.href = currentNode.url;
                                        window.open(currentNode.url,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
                                    }else if(fd == -1){
                                        window.open("http://"+window.location.host+currentNode.url,"new open monitor","height=600,width=1000,top=0,left=200,fullscreen=no,scrollbars=0");
                                    }
                                }
                                $("#contextmenu").hide();
                            });

                            // 流式布局（水平、垂直间隔均为10)
                            var flowLayout = JTopo.layout.FlowLayout(10, 10);
                            
                            // 网格布局(4行3列)
                            var gridLayout = JTopo.layout.GridLayout(4, 3);
                            
                            var container2 = new JTopo.Container('点击切换布局');
                            container2.layout = flowLayout;
                            container2.fillColor = '143,188,143';
                            container2.setBound(10, 10, 300, 200);            
                            scene.add(container2);

                            for(var item in data.data) {
                                // alert(data.data[item].name);
                                // alert(data.data[item].url);
                                if(data.data[item].name != ''){
                                    var node = new JTopo.Node(data.data[item].name);
                                    node.shadow = false;
                                    node.url = data.data[item].url;
                                    node.setSize(30, 30);
                                    node.rotate = Math.random(); // 旋转角度
                                    node.textPosition = "Middle_Center";
                                    var s = 2;
                                    var x = Math.random() * stage.width * s - Math.random() * stage.width * s;
                                    var y = Math.random() * stage.height * s - Math.random() * stage.height * s;
                                    node.setLocation(x, y);
                                    node.fillColor = JTopo.util.randomColor();
                                    node.addEventListener('mouseup',function(event){
                                        currentNode = this;
                                        handler(event);
                                    })
                                    scene.add(node);
                                    container2.add(node);
                                }
                            }

                            container2.click(function(){
                                if(container2.layout === flowLayout){
                                    container2.layout = gridLayout;
                                }else{
                                    container2.layout = flowLayout;
                                }
                            });
                        }
                    });

                });
            </script>

    </body>
</html>